{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}

{% block body %}

   {{ parent() }}
   {{ form_start(formReservation) }}
   {{ form_start(formChambre) }}
  
     <div class="row">
          <div class="offset-1 col-10">
               <form action="{{ path('acceuil') }}" class="m-3" method="post">
                    <fieldset class="border border-5 rounded p-2 border-success  d-none formulaire 1 " id="page1">
                         <div class="d-flex justify-content-between">
                              <div class="m-2">
                                  
                                   {{ form_row(formReservation.DateArrivee) }}
                              </div>
                              <div class="m-2">
                                   {{ form_row(formReservation.DateDepart) }}
                              </div>
                              <div class="m-2">
                                   {{ form_row(formReservation.Nombre_adulte) }}
                              </div>
                              <div class="m-2">
                                   {{ form_row(formReservation.Nombre_Enfant) }}
                              </div>
                          
                              <div class="m-2">
                                   {{ form_row(formChambre.nombre) }}
                                   
                              </div>
                         </div>
                        
                         <button type="button" class="btn btn-success next m-1 ">Suivant</button>
                    </fieldset>
                    <fieldset class="formulaire  2 d-none justify-content-center">
                         <fieldset class="form-group">
                              <div class="form-check">
                                   {{ form_row(formReservation.Motif) }}
                              </div >
                         </fieldset>
                        
                         <div class="form-group">
                              {{ form_row(formChambre.typechambre) }}
                         </div >
                       
                         <fieldset class="form-group">
                             
                         </fieldset>
                         <button type="button" class="btn btn-success prev">Retour</button>
                         <button type="submit" class="btn btn-success  next"> Suivant </button>
                    </fieldset>
                    {{ form_start(formClient) }}
                    <fieldset class="row g-3 border border-5 rounded p-2 border-success formulaire d-none" id="page3">
                         <div class="offset-1 col-10">
                              
                                   <div class="d-flex justify-content-between">
                                        <div class="col-md-5">
                                            {{ form_row(formClient.nom)}}
                                        </div>
                              
                                        <div class="col-md-5 ">
                                             {{ form_row(formClient.prenom) }}
                                        </div>
                                   </div>
                                   <div class="d-flex justify-content-between">
                                        <div class="col-md-5">
                                             {{ form_row(formClient.email) }}
                                        </div>
                              
                                   <div class="col-md-5">
                                        {{ form_row(formClient.tel) }}
                                   </div>
                              </div>
                                
                              <div class=" ">
                                   {{ form_row(formClient.sex) }}
                              </div>

                              <div class="text-end">
                                   <button type="button" class="btn btn-success prev">Retour</button>
                                   <button type="submit" class="btn btn-success">submit</button>
                              </div>
                              
                        </div>
                        
                        
                    </fieldset>
                    {{ form_end(formClient) }}
               </form>
          </div>
     </div>



     <div class="card-group border border-raduis p-3 " >
          <div class="card m-3 mb-5 border border-raduis" style="box-shadow:10px 10px 5px 5px rgb(179, 171, 171)">
            <img src="{{ asset('photos/comores.jpg') }}">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <div class="card m-3 mb-5" style="box-shadow:10px 10px 5px 5px rgb(179, 171, 171)">
            <img src="{{ asset('photos/350x250.jpg') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <div class="card m-3 mb-5"  style="box-shadow:10px 10px 5px 5px rgb(179, 171, 171)">
            <img src="{{ asset('photos/FFFFFF.jpg') }}">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>

{% endblock %}
