{% extends 'base.html.twig' %}

{% block title %}connexion{% endblock %}

{% block stylesheets %}
{{ parent()}}
{% endblock %}

{% block body %}
{{ parent() }}


    <div class="offset-3 col-6 ">
      <form  action="{{path('app_connexion') }}" method="post">
        <fieldset class="border border-5 rounded p-2 border-success "  style="box-shadow:10px 10px 5px 5px rgb(210, 224, 224)">
          
            <div class="col-md-7 mt-2">
              <input type="email" class="form-control" id="inputEmail4" required name="_Username" placeholder="julien@gmail.com....">
            </div>
          <br> 
            <div class="col-md-7">
              <input type="password" class="form-control" id="inputPassword4" required name="_Password" placeholder="entrer votre mot de passe">
            </div>
      
      
            <div class="col-12 text-end  ">
              <button type="submit" class="btn btn-success ">submit</button>
            </div>
       </fieldset>
    </form>
  </div>
 
  
  <div class="card-group border border-raduis p-3">
    <div class="card m-3 mb-5"  style="box-shadow:10px 10px 5px 5px rgb(179, 171, 171)">
      <img class="card-img-top" src="{{ asset('photos/350x250.jpg') }}" alt="Card image cap">
    </div>
    
    <div class="card m-3 mb-5"  style="box-shadow:10px 10px 5px 5px rgb(179, 171, 171)">
      <img class="card-img-top" src="{{ asset('photos/350x250.jpg') }}" alt="Card image cap">
    </div>
  
    <div class="card m-3 mb-5"  style="box-shadow:10px 10px 5px 5px rgb(179, 171, 171)">
      <img class="card-img" src="{{ asset('photos/350x250.jpg') }}" alt="Card image">
    </div>
  </div>
{% endblock %}
