{% extends 'base.html.twig' %}

{% block title %} Information_personnel {% endblock %}

{% block body %}
  {{ parent() }}
  {{ form_start(formInscription) }}
  <div class="row g-3">
    <div class="offset-1 col-10">
    <form   class="m-3">
       <fieldset class="border border-5 rounded p-2 border-success" style="box-shadow:10px 10px 5px 5px rgb(210, 224, 224)">
           <div class="d-flex justify-content-between">
      <div class="col-md-5">
        {{ form_row(formInscription.nom) }}
        </div>
    
        <div class="col-md-5 ">
          {{ form_row(formInscription.prenom) }}
        </div>
      </div>
      <div class="d-flex justify-content-between">
      <div class="col-md-5">
        {{ form_row(formInscription.email) }}
      </div>
  
      <div class="col-md-5">
        {{ form_row(formInscription.motdpass) }}
      </div>
      
      </div>
      <div class="col-12 text-end m-1 ">
        <button type="submit" class="btn btn-success">S'incsrire</button>
      </div>
  {{form_end(formInscription)}}
    </form>
  </fieldset>
  </div>
  </div>
  
  <div class="card-group border border-raduis p-3">
    <div class="card m-3 mb-5"   style="box-shadow:10px 10px 5px 5px rgb(179, 171, 171)">
      <img class="card-img-top" src="{{ asset('photos/350x250.jpg') }}" alt="Card image cap">
    </div>
    
    <div class="card m-3 mb-5"  style="box-shadow:10px 10px 5px 5px rgb(179, 171, 171)">
      <img class="card-img-top" src="{{ asset('photos/350x250.jpg') }}" alt="Card image cap">
    </div>
  
    <div class="card m-3 mb-5"  style="box-shadow:10px 10px 5px 5px rgb(179, 171, 171)">
      <img class="card-img" src="{{ asset('photos/350x250.jpg') }}" alt="Card image">
    </div>
  </div>
{% endblock %}

